/* Cadastro de Vestibular e Temas */

div.box-content h1 {
	margin-bottom: 15px;
}



div.box-content p.mensagem {
	margin: 0 auto 30px auto;
    width: max-content;
    padding: 6px 12px;

    border-radius: 20px;
}
div.box-content p.mensagem.sucesso {
    background-color: var(--color-green4); color: var(--color-white);

    box-shadow:  0 10px 20px 0 var(--color-green-tsp4);
}
div.box-content p.mensagem.falha {
	background-color: var(--color-red2); color: var(--color-white);

    box-shadow:  0 10px 20px 0 var(--color-red-tsp2);
}



form {
	display: flex; flex-direction: column;
	gap: 15px;
}



form div.vests-container ul {
	padding: 5px 8px;
	font-size: medium;
	font-weight: 500;

	line-height: 25px;
	list-style-type: none;

	border-left: 4px solid var(--color-purple4);
	background-color: var(--color-light-gray);

	border-radius: 0 15px 15px 0;
}



form p.aviso {
    width: max-content;
    padding: 2px 4px;

    font-size: medium;
    font-weight: 700;
    
    /* color: var(--color-gray4); */
    background-color: var(--color-yellow3);
    border-left: 3px solid var(--color-yellow1);
    border-radius: 0 5px 5px 0;
    text-transform: uppercase;
}



form div.field label {
	display: block;
	font-weight: 700;
}

form div.field input {
	width: 100%;
	padding: 8px;

	border-radius: 15px;
	border: 2px solid var(--color-gray);
	outline: none;

	transition: .1s;
}
form div.field input:hover, form div.field input:focus {
	border-color: var(--color-purple5);
}



button.botao {
	display: block;
	margin: auto;
}